@charset "utf-8";
/* CSS Document */

/* --------------------------------------------------------------------------------------
 スライダー
--------------------------------------------------------------------------------------- */
/*
#top_img {
	width: 100%;
	height: 250px;
	background-color:#000;
}

#slider {
	margin:0px auto ;
	width: 960px;
	height: 250px;
}
*/
#slider {
	margin:0;
	width: 100%;
	height: 250px;
	background-color:#000;
	border:1px solid #F00;
}

#slider div {
	padding: 0px;
}

#slider .img01{background:url(../common/top/main_img/01bg.jpg) top center no-repeat;}
#slider .img02{background:url(../common/top/main_img/02bg.jpg) top center no-repeat;}

#slider a{
	display: block;
	width:960px;
	min-height:250px;
}

#slider .frame{
	width:960px;
	height: 250px;
	margin:0px auto ;
}


.jquery-slider {
    overflow: hidden;
    position: relative;
}
.jquery-slider-element {
    overflow: hidden;
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.jquery-slider-control {
    overflow: hidden;
    position: absolute;
    text-align: center;
    line-height: 50px;
    font-size: 50px;
		color:#FFF;
    padding: 0px 0.5em;
    margin: 95px 3px 0px 3px;
    opacity: 5;
    cursor: pointer;
}
.jquery-slider-control:hover {
	color:#ccc;
}
.jquery-slider-control-prev {
    left: 0px;
    top: 5px;
}
.jquery-slider-control-next {
    right: 0px;
    top: 5px;
}
.jquery-slider-pages {
  overflow: visible;
  position: absolute;
  left: 5px;
  bottom: 5px;
  height: 20px;
	
  display: block;
	width:90%;
	margin:0px auto;
		
}
.jquery-slider-page {
  overflow: hidden;
  position: relative;
  display: block;
  float: right;
  width: 12px;
  height: 12px;
  padding: 0;
  margin: 0;
  background: #666;
	cursor: pointer;
  margin: 3px;
	border:1px solid #999;
}
.jquery-slider-page:hover {
	
}
.jquery-slider-page-current {
   background: #CCC;
}



/* --------------------------------------------------------------------------------------
 製品メニュー
--------------------------------------------------------------------------------------- */
#top_pro_menu{
	width:100%;
	height:450px;
	background:url(../common/top/pro_btn_bg.jpg) bottom left repeat-x;

}

#top_pro_menu a:hover img{
	opacity:0.6;
	filter: alpha(opacity=60);
	-ms-filter: "alpha( opacity=60 )";
	background: #fff;
}


#top_pro_menu .search{
	width: 960px;
	margin: 20px auto 0px auto;
	font-size: 12px;
}

#top_pro_menu .search_form{
	background:url(../common/top/search_bg.jpg) bottom left no-repeat;
	width:667px;
	height:62px;
	float:left;
}

#top_pro_menu .search_text{
	width: 200px;
	height: 30px;
	line-height:30px;
	float: left;
	margin-top:15px;

}

#top_pro_menu .search_btn{
	width:65px;
	height:36px;
	float:left;
	margin:13px 15px 0px 10px;
	cursor:pointer;
    
    font-family: 'karlsenround', sans-serif;
    font-size: 16px;
}

#top_pro_menu .products{
	width:960px;
	margin:10px auto 0px auto;
}

#top_pro_menu .products li{ margin-top:10px;}

/* --------------------------------------------------------------------------------------
 ニュース
--------------------------------------------------------------------------------------- */
#news_banner{
	width:960px;
	margin:20px auto 0px auto;
	background: url(../common/top/news_bg.jpg) repeat-y left top;
	padding-bottom:30px;
}

#news_banner a:hover img{
	opacity:0.6;
	filter: alpha(opacity=60);
	-ms-filter: "alpha( opacity=60 )";
	background: #fff;
}


/* ニュース */
#news_banner .news{
	width:685px;
	float:left;
}

#news_banner .news h3{ margin:0; padding:0; float:left;}

#news_banner .news dl {
	width:685px;
	overflow: hidden;
	zoom: 1;
	border-top:1px solid #999;
}
#news_banner .news dl dt {
	padding: 7px 10px;
	width: 90px;
	float: left;
	clear: both;	
}
#news_banner .news .icon {
	padding: 6px 0px 0px 0px;
	width:70px;
	float: left;
}
#news_banner .news .koumoku {
	padding: 7px 0px 7px 190px;
	border-bottom:1px dotted #999;
}


/* バナー */
#news_banner .banner{
	width:212px;
	float:right;
}

#news_banner .banner .attention_box{border:1px solid #999;}
#news_banner .banner .attention_box h3{ margin:0; padding:0;}

#news_banner .banner li{
	border:1px solid #999;
	margin-top:10px;
}background:url(../common/top/search_btn.gif) no-repeat;
	background:url(../common/top/search_btn.gif) no-repeat;
	background:url(../common/top/search_btn.gif) no-repeat;
	